.Herobtn {
    font-size: 18px !important;
    font-family: oswald;
    text-transform: uppercase;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    padding: 0 18px !important;
    line-height: 40px !important;
    border-radius: 3px !important;
}